# Environment variable files
.env
.env.*
!.env.example  # keep a reference file if needed

# Ignore everything in config/
config/*

# But keep credentials.yaml
!config/credentials.yaml


# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# IDE/editor config
.vscode/
.idea/
